{% extends 'base.html.twig' %}

{% block title %}Événement{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <button class="btn btn-primary">zerzer</button>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Kevin/Desktop/Tournamenteam/src/Controller/EventController.php'|file_link(0) }}">src/Controller/EventController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Kevin/Desktop/Tournamenteam/templates/event/index.html.twig'|file_link(0) }}">templates/event/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
