$color_yellow: rgb(233, 170, 33);
$color_blue: #067790;
$color_blueBis: #075263;
$size_sideBar: 16rem;

@import "~bootstrap/scss/bootstrap";
@import "custom";
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import "base";
@import "event";
@import "login-register";