$bg-color: #E2E2E2;
$size_sideBar: 16rem;
$size_chatBar: 14rem;

body {
  background: $bg-color;
}

.blur {
  filter: blur(2px);
}

h1 {
  margin-bottom: 10px;
}

/** NavBar **/
#sidebarCollapse {
  margin-top: 10px;
  margin-left: 10px;
  position: fixed;
  z-index: 1000;
}

.vertical-nav {
  min-width: $size_sideBar;
  width: $size_sideBar;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  #boxPictureUser {
    margin-top:-13px;
    img{
      display: block;
      border:3px solid white;
      background-color: white;
      margin:auto;  
      width:100px;
      height:100px;
      border-radius:50px;
    }
  }
  li {
    border-bottom: 1px solid grey;
    height: 50px;
    padding-top: 5px;
  }
}

li:hover {
  background-color: rgb(71, 70, 70);
}

/** Content **/
.page-content {
  width: calc(100% - $size_sideBar);
  margin-left: $size_sideBar;
  transition: all 0.4s;
}

#sidebar.active {
  margin-left: -$size_sideBar;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -$size_sideBar;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: $size_sideBar;
    width: calc(100% - $size_sideBar);
  }
}