@import "variable";
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.min.css';

/****************** Custom Bootstrap ******************/
.btn-warning {
  background: $color_yellow;
  font-weight: bold;
}
.btn-primary {
  background: $color_blue;
  border: 2px solid $color_blue;
  font-weight: bold;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:disabled {
  background: $color_blueBis;
  border: 2px solid $color_blueBis;
}

/****************** CSS base.html.twig ******************/
body {
  background:$bg_color;
}
  
h1 {
  margin-bottom: 10px;
}

.text-justify {
  text-align: justify;
}

.color-yellow {
  color: $color_yellow;
}

.color-blue {
  color: $color_blue;
}

/** NavBar **/
#sidebar {
  background: $bg_colorNav;
}
#sidebarCollapse {
  margin-top: 10px;
  margin-left: 10px;
  position: fixed;
  z-index: 1000;
}

a {
  text-decoration: none;
}

.vertical-nav {
  min-width: $size_sideBar;
  width: $size_sideBar;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  #boxPictureUser {
    margin-top:-13px;
    img{
      display: block;
      border:3px solid white;
      background-color: white;
      margin:auto;  
      width:100px;
      height:100px;
      border-radius:50px;
    }
  }
  .btnDeconnexion {
    display: block;
    margin: auto;
    border-radius: 50px;
  }
  li {
    border-bottom: 1px solid grey;
    height: 50px;
    padding-top: 5px;
  }
}

li:hover {
  background-color: rgb(71, 70, 70);
}

/** Content **/
.page-content {
  width: calc(100% - $size_sideBar);
  margin-left: $size_sideBar;
  transition: all 0.4s;
}

#sidebar.active {
  margin-left: -$size_sideBar;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -$size_sideBar;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: $size_sideBar;
    width: calc(100% - $size_sideBar);
  }
}

/** Chat Bar **/
#chatBar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  #chatPosition {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    .bubbleContact {
      margin-top:12px;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background: white;
      cursor: pointer;
      img {
        width: 100%;
        border-radius: 50px;
      }
    }
  }
}
.cadreChat {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 75px;
  width:320px;
  height: 450px;
  background: $bg_colorNav;
  box-shadow: 0px 0px 4px white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  .option {
    width: 100%;
    height: 40px;
    background: rgba($color: #000000, $alpha: 0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding:7px;
    padding-left: 12px;
    .bubbleContact {
      width: 25px;
      height: 25px;
      border-radius: 50px;
      background: white;
      cursor: pointer;
      img {
        width: 100%;
        border-radius: 50px;
      }
    }
    .nameContact {
      margin-top: -25px;
      margin-left: 35px;
      color: white;
      font-weight: 600;
    }
    .closeCadreChat {
      float: right;
      color: white;
      margin-top: -30px;
      margin-right: 7px;
      font-size: 25px;
      cursor: pointer;
    }
  }
  .showConvertation {
    margin-bottom: 55px;
    margin-top: 10px;
    width: 100%;
    height: 75%;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 14px;
    .comOther {
      float: left;
      width: fit-content;
      max-width: 75%;
      padding: 4px;
      margin-left: 14px;
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 10px;
      margin-bottom: 5px;
      background: rgba($color: #ffffff, $alpha: 0.1);
    }
    .comMe {
      float: right;
      width: fit-content;
      max-width: 75%;
      padding: 4px;
      margin-right: 14px;
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 10px;
      margin-bottom: 5px;
      background: $color_yellow;
    }
  }
  .comment {
    bottom: 0;
    width: 92%;
    margin: auto;
    textarea {
      resize: none;
      border-radius: 10px;
      height: 25px;
      width: 87%;
      margin-top: -44px;
    }
    .fas {
      float: right;
      color: white;
      font-size: 23px;
      margin-top:-30px;
      margin-right: 3px;
      cursor: pointer;
      color: $color_yellow;
    }
  }
}