.btn-warning {
    background: $color_yellow;
}
.btn-primary {
    background: $color_blue;
    border: 2px solid $color_blue;
}
.btn-primary:hover, .btn-primary:focus {
    background: $color_blueBis;
    border: 2px solid $color_blueBis;
}