@import "variable";

#backgroundGame {
    z-index:-100;
    position:fixed;
    background:center / cover no-repeat;
    filter: brightness(0.2);
    width:100%;
    min-height:100%;
    left:0;
    top:0;
}

.btnRetour {
    margin-top: -9px;
}
.btnDelete {

}

#creator {
    float: right;
    margin-top: -72px;
}
#nbPlayer {
    float: right;
    margin-top: -45px;
}
#nbPlayerPortable {
    display: none;
}
@media (max-width: 550px) {
    #creator, #nbPlayer {
        display: none;
    }
    #nbPlayerPortable {
        display: inline-block;
    }
}

.cadrePlayer {
    background: rgba($color: #ffffff, $alpha: 0.7);
    width: 230px;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
    img {
        width:32px;
        height:32px;
        margin-top: 10px;
        margin-left: 9px;
        border: 2px solid black;
        border-radius: 50px;
    }
    .pseudo {
        color: black;
        margin-top:-29px;
        margin-left: 50px;
        font-weight: 600;
    }
}
@media (max-width: 550px) {
    .cadrePlayer {
        width: 97%;
    }
}

.postComment, .postComment:hover, .postComment:focus, .postCommentDisabled {
    border-radius: 0px;
    background: rgba($color: #ffffff, $alpha: 0.7);
    height: 70px;
}
.btnAddComment {
    height: 30px;
    font-size: 12px;
    border-radius: 0px;
}
.cadreComment {
    margin-top: 15px;
    background: rgba($color: #ffffff, $alpha: 0.7);
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: black;
    .head {
        border-bottom: 1px solid grey;
        padding-bottom: 7px;
        img {
            width:32px;
            height:32px;
            margin-top: 9px;
            border: 2px solid black;
            border-radius: 50px;
        }
        .pseudo {
            margin-top:-37px;
            margin-left:38px;
            font-weight: 600;
        }
        .dateTime {
            color: $color-blue;
            margin-top:-3px;
            margin-left:38px;
            font-weight: 600;
            font-size: 12px;
        }
    }
    .body {
        padding-top: 3px;
    }
}