{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('administration') }}
{% endblock %}

{% block body %}

<div class="row">

    <div class="col-lg-3 mb-4">
        <div class="cadreAdmin">
            <h3 class="text-center">En ligne</h3>
            <div class="enLigne bg-success">2</div>
        </div>
    </div>

    <div class="col-12"></div>

    <div class="col-lg-6 mb-4">
        <div class="cadreAdmin">
            <h3>Jeux Vidéos</h3>
            <div class="statsTitle">Total : 4</div>
            <div class="mt-4">
                <div class="table-responsive">
                    <table class="table" id="tableGames">
                        <thead>
                            <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Description</th>
                            <th scope="col">Image</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <body>
                            {% for i in 0..6 %}
                                <tr>
                                    <td>League of Legend</td>
                                    <td>Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                                    <td>lol.jpg</td>
                                    <td><button class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
                                </tr>
                            {% endfor %}
                        </body>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 mb-4">
        <div class="cadreAdmin">
            <h3>Utilisateurs</h3>
            <div class="statsTitle">Total : 106</div>
            <div class="mt-4">
                <div class="table-responsive">
                    <table class="table" id="tableUsers">
                        <thead>
                            <tr>
                                <th scope="col">Pseudo</th>
                                <th scope="col">Email</th>
                                <th scope="col">Rôle</th>
                            </tr>
                        </thead>
                        <body>
                            {% for i in 0..15 %}
                                <tr>
                                    <td>Kevin</td>
                                    <td>Kevin.duballet@mail.com</td>
                                    <td>
                                        <select class="form-control">
                                            <option value="ROLE_PLAYER">PLAYER</option>
                                            <option value="ROLE_ORGANIZER">ORGANIZER</option>
                                            <option value="ROLE_ADMIN">ADMIN</option>
                                        </select>
                                    </td>
                                </tr>
                            {% endfor %}
                        </body>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('administration') }}
{% endblock %}